<h1>Add a New Assignment</h1>

<%= render partial: "layouts/errors", locals: {object: @assignment} %>
<%# this will render the errors partial and then send our original variable to the "object" variable in the form%>

<%= flash[:message] if flash[:message] %>
<br>

<%= render 'form' %>